<div class="form">
<a href="javascript:parent.$.fancybox.close();">Close me</a>
<div class="col-md-12 login-wrapper">
   
  <div class="col-md-6 login-column">
  <div class="form-title">Signup</div>

   <div class="form-wrapper">
      <%= form_for(User.new) do |f| %> <!-- built-in form creation function -->

      <%= f.text_field :name, class: 'form-control', :placeholder => "name" %>

      <%= f.text_field :email, class: 'form-control', :placeholder => "email" %>

      <%= f.password_field :password, class: 'form-control', :placeholder => "password" %>

      <%= f.password_field :password_confirmation, class: 'form-control', :placeholder => "confirm password" %>

      <%= f.submit "Create Account", class: "form-button grow" %>
      <% end %>
   </div>
   </div>
   <div class="col-md-6 login-column">
   	<div class="form-title">Sign In</div>
      <div class="form-wrapper">
      <%= form_for(:session,url:login_path) do |f| %> <!-- built-in form creation function -->

      <%= f.text_field :email, class: 'form-control', :placeholder => "email" %>

      <%= f.password_field :password_digest, class: 'form-control', :placeholder => "password" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
         <%= f.check_box :remember_me, class: "checkbox"%>
         <p>Remember me on this computer</p>
      <% end %>

      <%= f.submit "Sign In", class: "form-button grow" %>
      <% end %>
      </div>

   </div>

 </div>
 </div>