<!DOCTYPE html>
<html>
<head>
  <title>Savvee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<%= render "layouts/header" %>


<%= yield %>

<!-- Popup - This probably does not belong here -->
    <div style="display:none;">
      <div id="login-form">
        <%= render 'shared/popover_login_form' unless @disable_nav%>
      </div>
    </div>

</body>




</html>


